<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Tumblr</string>
	<key>uuid</key>
	<string>64C9C682-A2C5-456C-9335-5363FAE2B917</string>
</dict>
</plist>
